<template>
    <div class="container">
        <div class="row">
            <h1 class="col-md-12">User page</h1>
            <UserContainer class="col-md-12"/>
        </div>
    </div>
</template>

<script>
    import UserContainer from '@/components/UserContainer.vue';

    export default {
        name: "UserPage",
        components: {
            UserContainer
        }
    }
</script>

<style scoped>

</style>