<template>
    <tr>
        <td scope="row"><img :src=user.avatar></td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td><a :href="'//'+user.website">{{ user.website }}</a></td>
        <td>
            <button @click="$emit('edit', user)" type="button" class="btn btn-primary">Edit</button>
        </td>
        <td>
            <button @click="$emit('delete', user)" type="button" class="btn btn-danger">Delete
            </button>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "User",
        props: {
            user: {
                type: Object,
                required: true,
            },
        },
    }
</script>

<style scoped>

</style>