<template>
    <div class="row">
        <div class="col-md-12 loader-holder" v-if="loading">
            <div class="loading">
                Loading...
            </div>
        </div>

        <div v-else-if="error" class="col-md-12 error">
            {{ error }}
            <p>
                <button type="button" class="btn btn-warning" @click.prevent="fetchData">
                    Try Again
                </button>
            </p>
        </div>

        <div v-else class="col-md-12">
            <div v-if="isEditing" class="row d-flex justify-content-around mb-4">
                <div class="col-md-6">
                    <div class="alert alert-danger" role="alert" v-show="userFormError">
                        {{ userFormError }}
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" v-model="userFormData.name">
                        <small id="nameHelp" class="form-text text-muted">Please enter your name.</small>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                               v-model="userFormData.username">
                        <small id="usernameHelp" class="form-text text-muted">Please enter your nickname.</small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                               v-model="userFormData.email">
                        <small id="emailHelp" class="form-text text-muted">
                            We'll never share your email with anyone else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="website">Website</label>
                        <input type="website" class="form-control" id="website" aria-describedby="websiteHelp"
                               v-model="userFormData.website">
                        <small id="websiteHelp" class="form-text text-muted">
                            We'll never share your email with anyone else.
                        </small>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 d-flex justify-content-between">
                            <button @click="saveUser" type="button" class="btn btn-success">Save</button>
                            <button @click="closeForm" type="button" class="btn btn-success">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h4 class="col-md-12">Total: {{totalUsers}} users</h4>
                <div class="input-group col-md-12 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Search</span>
                    </div>
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Type user name or email"
                            v-model="searchString"
                    >
                </div>

                <div v-if="users.length" class="col-md-12">
                    <table class="table table-hover table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>E-mail</th>
                            <th>Web-site</th>
                            <th></th>
                            <th>
                                <button @click="onHandleCreate" type="button" class="btn btn-success">Add</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="user in filteredCustomers">
                            <User
                                    :key="user.id"
                                    :user="user"
                                    @delete="onHandleDelete"
                                    @edit="onHandleEdit"
                            />
                        </template>
                        </tbody>
                    </table>
                </div>

                <div v-else>
                    Users not found
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import User from '@/components/User.vue';

    const API_URL = 'https://my-json-server.typicode.com/aussie-m-mike/bsa-2020-vue1/users';

    export default {
        name: "UserContainer",

        components: {
            User
        },

        data: () => ({
            loading: false,
            error: null,
            isEditing: false,
            searchString: '',
            users: [],
            userFormData: null,
            userFormError: null
        }),

        computed: {
            totalUsers() {
                return this.users.length;
            },
            filteredCustomers() {
                return this.users.filter((user) => {
                    const nameMatch = user.name.trim().toLowerCase().includes(this.searchString.trim().toLowerCase());
                    const usernameMatch = user.username.trim().toLowerCase().includes(this.searchString.trim().toLowerCase());
                    const websiteMatch = user.website.trim().toLowerCase().includes(this.searchString.trim().toLowerCase());
                    const emailMatch = user.email.trim().toLowerCase().includes(this.searchString.trim().toLowerCase());

                    return nameMatch || usernameMatch || emailMatch || websiteMatch;
                });
            }
        },

        methods: {
            async fetchData() {
                try {
                    this.loading = true;
                    const response = await axios.get(API_URL);
                    this.users = response.data;
                    this.loading = false;
                    this.error = null;
                } catch (error) {
                    this.loading = false;
                    this.error = error;
                    return Promise.reject(error);
                }

            },
            closeForm() {
                this.isEditing = false;
            },
            onHandleCreate() {
                this.userFormData = {
                    name: null,
                    nickname: null,
                    email: null,
                    website: null,
                    avatar: 'https://via.placeholder.com/150/771796'
                };
                this.isEditing = true;
            },
            onHandleEdit(user) {
                this.userFormData = user;
                this.isEditing = true;
            },
            onHandleDelete(user) {
                const index = this.users.map((user) => {
                    return user.id
                }).indexOf(user.id);
                this.users.splice(index, 1);
            },
            saveUser() {
                if (this.validateForm()) {
                    if (this.userFormData.id) {
                        const index = this.users.map((user) => {
                            return user.id
                        }).indexOf(this.userFormData.id);
                        this.users[index] = this.userFormData;

                    } else {
                        this.users.push(this.userFormData);
                    }

                    this.isEditing = false;
                    this.userFormError = null;
                } else {
                    this.userFormError = 'Please fill all fields!'
                }
            },
            validateForm() {
                return this.userFormData.name && this.userFormData.username && this.userFormData.email && this.userFormData.website;
            }
        },

        async created() {
            await this.fetchData();
        }
    }
</script>

<style scoped>
    .loading {
        font-size: 16em;
    }
</style>